.form {
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-xlarge);
  justify-content: center;
}

.cart {
  padding: var(--padding-xxxl);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-xlarge);
}

.price {
  justify-self: flex-end;
  font-size: var(--font-h6);
  font-weight: bold;
  color: var(--secondary-accent-color);
}

.bookButton {
  align-self: center;
}
