.form {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

.cart {
  padding: 3em;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.price {
  justify-self: flex-end;
  font-size: var(--font-h6);
  font-weight: bold;
  color: var(--secondary-accent-color);
}

.bookButton {
  align-self: center;
}
