.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  padding: 0.8em;
  border-radius: 0.6em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 0.6em;
  background-color: var(--background-color);
}

.filterElement {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.filter label {
  font-size: var(--font-p-medium);
  font-weight: bold;
  color: var(--on-primary-color);
}

.filter input {
  font-size: var(--font-p-big);
  color: var(--on-primary-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #8d330223;
  border-top: 1px solid #8d330223;
  outline: none;
  font-style: 'Roboto';
  transition: all 0.3s ease-in-out;
  padding: 6px 0px;
}