.grid {
  display: grid;
}

.grid2Cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid3Cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid4Cols {
  grid-template-columns: repeat(3, 1fr);
}

.gridItemFullRow {
  grid-column: 1 / -1;
}

.gridItemFullColumn {
  grid-row: 1 / -1;
}