/* Global CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #9e9e9e;
  --on-primary-color: #212121;
  --secondary-color: #b5e2fa;
  --on-secondary-color: #4e6877;
  --background-color: #fdfaf7;
  --on-background-color: #424242;
  --surface-color: #ffffff;
  --on-surface-color: #3d2010;
  --accent-color: #f7a072;
  --on-accent-color: #41281a;
  --secondary-accent-color: #8c2a3c;
  --on-secondary-accent-color: #f5768d;
  --error-color: #f44336;
  --default-grey-body-color: #a5a5a5;
  --border-light-color: #8d330223;

  --font-h1: 2.986rem;
  --font-h2: 2.488rem;
  --font-h3: 2.074rem;
  --font-h4: 1.728rem;
  --font-h5: 1.44rem;
  --font-h6: 1.2rem;
  --font-p-big: 1rem;
  --font-p-medium: 0.9rem;
  --font-small: 0.833rem;
  --font-tiny: 0.694rem;
}

h4 {
  font-size: var(--font-h4);
}

h5 {
  font-size: var(--font-h5);
}

h6 {
  font-size: var(--font-h6);
}

h1 {
  font-size: var(--font-h1);
}

body {
  background-color: var(--surface-color);
}

#root {
  display: flex;
  flex-direction: column;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  padding: 32px 12px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  gap: 2rem;
}
