header {
  background-color: var(--background-color);
  color: var(--on-primary-color);
  font-size: var(--font-h6);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  min-height: 3.5em;
  padding: 0 1.5em;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
  flex: 1;
}

.header ul li a {
  text-decoration: none;
  font-size: var(--font-h6);
  font-weight: 500;
}

.header ul li a:hover {
  cursor: pointer;
  color: var(--secondary-accent-color);
}
.header ul li a:visited {
  cursor: pointer;
  color: var(--on-primary-color);
}
.logo {
  justify-self: self-start;
}
