.welcomeMessage {
  font-style: italic;
  font-family: "Caveat";
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.header ul li a {
  text-decoration: none;
  font-size: var(--font-h6);
  font-weight: 500;
}

.header ul li a:hover {
  cursor: pointer;
  color: var(--secondary-accent-color);
}
.header ul li a:visited {
  cursor: pointer;
  color: var(--on-primary-color);
}
