.roomCard {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  min-height: 16.25rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--padding-s);
  background-color: var(--background-color);
  transition: all 0.3s ease;
}

.roomCard:hover {
  cursor: pointer;
  scale: 1.01;
  transition: all 0.3s ease;
}

.cardImg {
  max-width: 15.6rem;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-m) 0px 0px var(--border-radius-m);
  border-right: 0.06rem solid #75460041;
}

.roomInfo {
  width: 100%;
  padding: var(--padding-m) var(--padding-xl);
  gap: var(--grid-gap-small);
}

.description {
  font-size: var(--font-small);
}

.description h4 {
  font-size: var(--font-p-big);
  color: var(--on-background-color);
}

.description p {
  font-size: var(--font-p-medium);
  text-align: justify;
  color: var(--on-background-color);
}

.category {
  font-size: var(--font-h6);
  font-weight: bold;
  color: var(--on-surface-color);
}

.priceSection {
  justify-self: flex-end;
}

.price {
  justify-self: flex-end;
  font-size: var(--font-h6);
  font-weight: bold;
  color: var(--secondary-accent-color);
}

.amenities {
  grid-column: 1 / -1;
  color: var(--on-background-color);
}

.amenities ul {
  margin-left: 2rem;
  font-size: var(--font-p-medium);
}

.bookButton {
  grid-column: 2 / -1;
  justify-self: flex-end;
}

.roomLargeCard {
  max-width: 30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--border-radius-m);
  background-color: var(--background-color);
  transition: all 0.3s ease;
  padding: var(--padding-m);
  gap: var(--grid-gap-small);
}

.largeCardImg {
  width: 100%;
}
