.simpleButton {
  background-color: var(--accent-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--on-primary-color);
  cursor: pointer;
  font-size: var(--font-p-medium);
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  max-width: 90px;
  transition: all 0.3s ease-in-out;
}

.simpleButton:hover {
  transition: all 0.3s ease-in-out;
  background-color: #f3864c;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon {
  max-width: 24px;
  height: auto;
}

.divider {
  border: none;
  border-top: 1px solid #8d330223;
  width: 100%;
}