.simpleButton {
  background-color: var(--accent-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--on-primary-color);
  cursor: pointer;
  font-size: var(--font-p-medium);
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  max-width: 10em;
  transition: all 0.3s ease-in-out;
}

.simpleButton:hover {
  transition: all 0.3s ease-in-out;
  background-color: #f3864c;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.iconButton {
  background-color: transparent;
  border-radius: 0.8em;
    border: 2px solid var(--border-light-color);
    padding: 0.6em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    transition: all 0.3s ease-in-out;
  
  }
  
  .iconButton:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.icon {
  max-width: 24px;
  height: auto;
}

.divider {
  border: none;
  border-top: 1px solid var(--border-light-color);
  width: 100%;
}
.progressItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.progressItem progress {
  height: 1.2em;
  border-radius: 20px;
}

.progressItem progress::-webkit-progress-bar {
  height: 1.2em;
  border-radius: 5px;
  background-color: var(--surface-color);
  border: 1px solid var(--border-light-color);
}

.progressItem progress::-webkit-progress-value {
  height: 1.2em;
  border-radius: 5px;
  background-color: var(--accent-color);
}

.progressItem label {
  color: var(--on-surface-color);
  font-weight: bold;
}

.filterElement {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.filterElement label {
  font-size: var(--font-p-medium);
  font-weight: bold;
  color: var(--on-primary-color);
}

.filterElement input {
  font-size: var(--font-p-big);
  color: var(--on-primary-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #8d330223;
  border-top: 1px solid #8d330223;
  outline: none;
  font-style: 'Roboto';
  transition: all 0.3s ease-in-out;
  padding: 6px 0px;
}

.select {
  font-size: var(--font-p-medium);
  color: var(--on-primary-color);
  background-color: transparent;
  max-width: 40%;
  border: none;
  border-bottom: 1px solid var(--border-light-color);
  border-top: 1px solid var(--border-light-color);
  outline: none;
  padding: 6px 0px;
}