.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--grid-gap-xxlarge);
  max-width: 80rem;
  padding: var(--padding-l);
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--error-color);
}

.errorImg {
  width: 10rem;
}

.errorText {
  font-size: var(--font-h4);
}
