.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 80rem;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--error-color);
}

.errorImg {
  width: 10rem;
}

.errorText {
  font-size: var(--font-h4);
}