.roomCard {
  display: flex;
  max-width: 600px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}

.cardImg {
  max-width: 250px;
  border-right: 1px solid #95e1f873;
}

.roomDetails {
  width: 100%;
  padding:8px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.description {
  font-size: var(--font-small);
  grid-column: 1 / -1;
}

.description h4 {
  margin-bottom: 6px;
  margin-top: 16px;
  font-size: var(--font-p-big);
  color: var(--on-background-color)
}

.description p {
  font-size: var(--font-p-medium);
  text-align: justify;
  color:var(--on-background-color)
}

.category {
  font-size: var(--font-h6);
  font-weight: bold;
  color: var(--on-surface-color);
}

.priceSection {
  justify-self: flex-end;
}

.price {
  justify-self: flex-end;
  font-size: var(--font-h6);
  font-weight: bold;
}

.amenities {
  margin-top: 16px;
  grid-column: 1 / -1;
  color: var(--on-background-color)
}
.amenities ul {
  margin-left: 32px;
  font-size: var(--font-p-medium);
}
